<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "MySuite" parallel="methods" thread-count="8">
    <test name = "MyTest">
        <groups>
            <run>
                <include name="test"/>
            </run>
        </groups>
        <packages>
            <package name="org.example"></package>
        </packages>
    </test>
</suite>